@page
@model MegaDesk.Pages.ShippingDaysOrders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShippingDaysOrder[0].ShippingDaysOption)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ShippingDaysOrder) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingDaysOption)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-success">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-info">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
